DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=gsi_formation
GSI_ADMIN_PASSWORD=Nina-GSI
GSI_PROF_PASSWORD=prof-gsi-formation
JWT_SECRET=super-secret-gsi-key-2024
SESSION_SECRET=gsi-session-secret-key-9988
